<div class='span-12 append-1' style='position: relative;'>
	<img src='images/beta.png' style='position: absolute; top: 80px; right: 120px;'>
  		<a href='/' id='logo' class='img'>
  			your network just got hotter
  		</a>
		<div class='span-10'>
		<p style="margin-top: 36px">
			Here's how digri works:  You check in at a location.  We use your network to find nearby people you might want to meet.  We text you when there's a connection. You can take it from there, hotshot. 
			
		</p>
		<p>
			It's easy and free to get started. Let us know who you are on foursquare, and give us permission to look at your friends on Facebook. (We promise not to touch.) Ready to heat things up? 
			</p>
			</div>
  	</div>

  	<div class='span-10 last'>
  		<div id='iphone'>
  			<div id='viewport'>
          
          <form action="/users" class="new_user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="9hUMHkI+3p+u0RT2u+HrhUJo0/v9Taa53wvOesfcgCk=" /></div>
  <div id='foursquare'>
					  <h2 class='title'>foursquare</h2>
				    <div class='content'>
				      The first thing we need to know is who you are on foursquare.<br/><br/>
				      <label for='phone'>cell number</label><br>
				      <input id="user_phone" name="user[phone]" size="30" type="text" /><br>
				
				      <label for='pw'>foursquare password</label><br>
				      <input id="user_password" name="user[password]" size="30" type="password" /><br>
				    </div>
				
				    <input id="user_submit" name="commit" style="display:none;" type="submit" value="Submit" />
				    <a class="button" href="#" onclick="$('form').submit(); return false;">Submit</a>
				  </div>
				
				</form>

			  </div>
		  </div>
	  </div>
	  <div class='links span-24 last'>
  <a href="/pages/about">About</a> | <a href="/pages/faq">FAQ</a> | <a href="http://fourdegrees.channelyush.com">Blog</a> | <a href="/pages/contact">Contact</a>
</div>